@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* #region Fonts */
  --font-ludus-poppins: var(--font-imported-poppins);
  --font-ludus-pixelify-sans: var(--font-imported-pixelify-sans);
  --font-ludus-born2bsporty: var(--font-imported-born2bsporty);
  /* #endregion */

  /* #region Ludus Green */
  --color-ludus-green-50: var(--green-50);
  --color-ludus-green-100: var(--green-100);
  --color-ludus-green-200: var(--green-200);
  --color-ludus-green-300: var(--green-300);
  --color-ludus-green-400: var(--green-400);
  --color-ludus-green-500: var(--green-500);
  --color-ludus-green-500: var(--green-600);
  --color-ludus-green-500: var(--green-700);
  --color-ludus-green-500: var(--green-800);
  --color-ludus-green-500: var(--green-950);
  --color-ludus-green-foreground: var(--green-foreground);
  /* #endregion */

  /* #region Ludus Lime */
  --color-ludus-lime-50: var(--lime-50);
  --color-ludus-lime-100: var(--lime-100);
  --color-ludus-lime-200: var(--lime-200);
  --color-ludus-lime-300: var(--lime-300);
  --color-ludus-lime-400: var(--lime-400);
  --color-ludus-lime-500: var(--lime-500);
  --color-ludus-lime-500: var(--lime-600);
  --color-ludus-lime-500: var(--lime-700);
  --color-ludus-lime-500: var(--lime-800);
  --color-ludus-lime-500: var(--lime-950);
  --color-ludus-lime-foreground: var(--lime-foreground);
  /* #endregion */

  /* #region Ludus Yellow */
  --color-ludus-yellow-50: var(--yellow-50);
  --color-ludus-yellow-100: var(--yellow-100);
  --color-ludus-yellow-200: var(--yellow-200);
  --color-ludus-yellow-300: var(--yellow-300);
  --color-ludus-yellow-400: var(--yellow-400);
  --color-ludus-yellow-500: var(--yellow-500);
  --color-ludus-yellow-500: var(--yellow-600);
  --color-ludus-yellow-500: var(--yellow-700);
  --color-ludus-yellow-500: var(--yellow-800);
  --color-ludus-yellow-500: var(--yellow-950);
  --color-ludus-yellow-foreground: var(--yellow-foreground);
  /* #endregion */

  /* #region Ludus Red */
  --color-ludus-red-50: var(--red-50);
  --color-ludus-red-100: var(--red-100);
  --color-ludus-red-200: var(--red-200);
  --color-ludus-red-300: var(--red-300);
  --color-ludus-red-400: var(--red-400);
  --color-ludus-red-500: var(--red-500);
  --color-ludus-red-500: var(--red-600);
  --color-ludus-red-500: var(--red-700);
  --color-ludus-red-500: var(--red-800);
  --color-ludus-red-500: var(--red-950);
  --color-ludus-red-foreground: var(--red-foreground);
  /* #endregion */
}

:root {
  /* #region ShadcnUI */
  --radius: 0.625rem;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  /* #endregion */
}

.dark {
  /* #region ShadcnUI */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  /* #endregion */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
