@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --ludus-green-dark: #1d3728;
  --ludus-green-main: #548443;
  --ludus-green-lime: #71e256;
  --ludus-yellow-gold: #e8b739;
  --ludus-orange: #f07d2c;

  --green-50: #f6f9f4;
  --green-100: #e9f3e5;
  --green-200: #d3e6cc;
  --green-300: #b0d1a4;
  --green-400: #85b474;
  --green-500: #639651;
  --green-600: #548443;
  --green-700: #3f6134;
  --green-800: #364e2d;
  --green-900: #2c4126;
  --green-950: #152211;
  --green-foreground: #ffffff;

  --lime-50: #eefde8;
  --lime-100: #d8facd;
  --lime-200: #b4f5a1;
  --lime-300: #85ec6a;
  --lime-400: #71e255;
  --lime-500: #3cc41e;
  --lime-600: #2a9c14;
  --lime-700: #227714;
  --lime-800: #215e16;
  --lime-900: #1e5017;
  --lime-950: #0a2c07;
  --lime-foreground: var(--ludus-green-dark);

  --yellow-50: #fcf9ea;
  --yellow-100: #f9f1c8;
  --yellow-200: #f4e094;
  --yellow-300: #edc957;
  --yellow-400: #e8b739;
  --yellow-500: #d69a1c;
  --yellow-600: #b97715;
  --yellow-700: #945614;
  --yellow-800: #7b4418;
  --yellow-900: #69391a;
  --yellow-950: #3d1d0b;
  --yellow-foreground: var(--ludus-green-dark);

  --red-50: #fdf3f3;
  --red-100: #fbe5e5;
  --red-200: #f8d0d0;
  --red-300: #f3aeae;
  --red-400: #ea7f7f;
  --red-500: #d94343;
  --red-600: #c93939;
  --red-700: #a82d2d;
  --red-800: #8c2828;
  --red-900: #752727;
  --red-950: #3f1010;
  --red-foreground: #ffffff;

  /* #region ShadcnUI */
  --radius: 0.625rem;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: var(--green-500);
  --primary-foreground: var(--green-foreground);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* #endregion */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@theme inline {
  /* #region Fonts */
  --font-ludus-poppins: var(--font-imported-poppins);
  --font-ludus-pixelify-sans: var(--font-imported-pixelify-sans);
  --font-ludus-born2bsporty: var(--font-imported-born2bsporty);
  /* #endregion */

  /* #region Ludus Green */
  --color-ludus-green-50: var(--green-50);
  --color-ludus-green-100: var(--green-100);
  --color-ludus-green-200: var(--green-200);
  --color-ludus-green-300: var(--green-300);
  --color-ludus-green-400: var(--green-400);
  --color-ludus-green-500: var(--green-500);
  --color-ludus-green-600: var(--green-600);
  --color-ludus-green-700: var(--green-700);
  --color-ludus-green-800: var(--green-800);
  --color-ludus-green-950: var(--green-950);
  --color-ludus-green-foreground: var(--green-foreground);
  /* #endregion */

  /* #region Ludus Lime */
  --color-ludus-lime-50: var(--lime-50);
  --color-ludus-lime-100: var(--lime-100);
  --color-ludus-lime-200: var(--lime-200);
  --color-ludus-lime-300: var(--lime-300);
  --color-ludus-lime-400: var(--lime-400);
  --color-ludus-lime-500: var(--lime-500);
  --color-ludus-lime-600: var(--lime-600);
  --color-ludus-lime-700: var(--lime-700);
  --color-ludus-lime-800: var(--lime-800);
  --color-ludus-lime-950: var(--lime-950);
  --color-ludus-lime-foreground: var(--lime-foreground);
  /* #endregion */

  /* #region Ludus Yellow */
  --color-ludus-yellow-50: var(--yellow-50);
  --color-ludus-yellow-100: var(--yellow-100);
  --color-ludus-yellow-200: var(--yellow-200);
  --color-ludus-yellow-300: var(--yellow-300);
  --color-ludus-yellow-400: var(--yellow-400);
  --color-ludus-yellow-500: var(--yellow-500);
  --color-ludus-yellow-600: var(--yellow-600);
  --color-ludus-yellow-700: var(--yellow-700);
  --color-ludus-yellow-800: var(--yellow-800);
  --color-ludus-yellow-950: var(--yellow-950);
  --color-ludus-yellow-foreground: var(--yellow-foreground);
  /* #endregion */

  /* #region Ludus Red */
  --color-ludus-red-50: var(--red-50);
  --color-ludus-red-100: var(--red-100);
  --color-ludus-red-200: var(--red-200);
  --color-ludus-red-300: var(--red-300);
  --color-ludus-red-400: var(--red-400);
  --color-ludus-red-500: var(--red-500);
  --color-ludus-red-600: var(--red-600);
  --color-ludus-red-700: var(--red-700);
  --color-ludus-red-800: var(--red-800);
  --color-ludus-red-950: var(--red-950);
  --color-ludus-red-foreground: var(--red-foreground);
  /* #endregion */

  /* #region ShadcnUI */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* #endregion */
}

.dark {
  /* #region ShadcnUI */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  /* #endregion */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
